@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Roboto+Flex:opsz,wght@8..144,1000&family=Roboto:wght@300;400;500;700;900&display=swap");

body::-webkit-scrollbar {
  display: none;
}

.logo {
  max-width: 150px;
}

.logo_footer {
  max-width: 300px;
}

.react-select-error div {
  border-color: #d32f2f;
}

.react-select-error:hover div {
  border-color: #d32f2f;
}

.react-select-msg-error {
  color: #d32f2f;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin-top: 3px;
  margin-right: 14px;
  margin-bottom: 0;
  margin-left: 14px;
}
